﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <div>
                        <img alt="image" src="~/images/Logo.png" style="width: 80px;" />
                        <h1 class="nav-title">INCITY <span>Licensing Web</span></h1>
                    </div>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img alt="image" src="~/favicon.png" />
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Dashboard")">
                <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboard</span></a>
            </li>

            <li class="@Html.IsSelected(controller: "License") @Html.IsSelected(controller: "LicenseCategory")">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.graphs">Licenses</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "License", cssClass: "in") @Html.IsSelected(controller: "LicenseCategory", cssClass: "in")">
                    @if (User.HasClaim(p => p.Type == "Admin" || p.Type == "Super Admin"))
                    {
                        <li class="@Html.IsSelected(controller: "LicenseCategory", action: "Index")"><a href="@Url.Action("Index", "LicenseCategory")">License Category</a></li>
                    }
                    <li class="@Html.IsSelected(controller: "License", action: "Index")"><a href="@Url.Action("Index", "License")">License List</a></li>
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "Order") @Html.IsSelected(controller: "Order")">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.graphs">Orders</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Order", cssClass: "in") @Html.IsSelected(controller: "Order", cssClass: "in")">
                    <li class="@Html.IsSelected(controller: "Order", action: "Index")"><a href="@Url.Action("Index", "Order")">Order List</a></li>
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "Admin") @Html.IsSelected(controller: "AdminLog") @Html.IsSelected(controller: "AdminGroup")">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.graphs">Admin</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Admin", cssClass: "in") @Html.IsSelected(controller: "AdminLog", cssClass: "in") @Html.IsSelected(controller: "AdminGroup", cssClass: "in")">
                    @if (User.HasClaim(p => p.Type == "Admin" || (p.Type == "Super Admin" && p.Value == "true")))
                    {
                        <li class="@Html.IsSelected(controller: "AdminGroup", action: "Index")"><a href="@Url.Action("Index", "AdminGroup")">Admin Group</a></li>
                    }
                    <li class="@Html.IsSelected(controller: "Admin", action: "Index")"><a href="@Url.Action("Index", "Admin")">Admin List</a></li>
                    @if (User.HasClaim(p => p.Type == "Admin" || p.Type == "Super Admin"))
                    {
                        <li class="@Html.IsSelected(controller: "AdminLog", action: "Index")"><a href="@Url.Action("Index", "AdminLog")">Admin Log</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</nav>