﻿@model IncityApp.Models.Order

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard", "Dashboard")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Order")">Order</a>
            </li>
            <li class="active">
                <strong>Edit Order</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            @if (ViewBag.ErrMsg != "")
            {
                <div class="view-success">@Html.Raw(ViewBag.SucMsg)</div>
            }

            <div class="view-error">@Html.ValidationSummary()</div>

            @if (ViewBag.ErrMsg != "")
            {
                <div class="view-error">@Html.Raw(ViewBag.ErrMsg)</div>
            }

            <div class="ibox float-e-margins">
                @*<div class="ibox-title">
                <h5>Basic</h5>
            </div>*@
                <div class="ibox-content">
                    @using (Html.BeginForm("Edit", "Order", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(p => p.Id)
                        @Html.HiddenFor(p => p.IsDeleted)
                        @Html.HiddenFor(p => p.CreateBy)
                        @Html.HiddenFor(p => p.CreateDate)
                        @Html.HiddenFor(p => p.Remark)
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.RefNo)</label>

                            <div class="col-sm-8">
                                @Html.TextBoxFor(p => p.RefNo, new { @Class = "form-control" })
                                <div class="checkbox"><label>@Html.EditorFor(p => p.IsActive) @Html.DisplayNameFor(p => p.IsActive)</label></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.GrandTotal)</label>
                            <div class="col-sm-8">@Html.TextAreaFor(p => p.GrandTotal, new { @Class = "form-control" })</div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.PaymentMethod)</label>
                            <div class="col-sm-8">@Html.TextAreaFor(p => p.PaymentMethod, new { @Class = "form-control" })</div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.Status)</label>
                            <div class="col-sm-8">@Html.TextAreaFor(p => p.Status, new { @Class = "form-control" })</div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <label class="control-label">Order Details</label>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>License Code</th>
                                                <th>License</th>
                                                <th>Qty</th>
                                                <th>SubTotal</th>
                                                <th>Device Id</th>
                                                <th>Device Alt Id</th>
                                                <th>Active</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @{ 
                                            List<OrderDetail> orderDetails = Model.orderDetails.Where(p => p.OrderId == Model.Id).ToList();
                                            foreach (OrderDetail orderDetail in orderDetails)
                                            {
                                            <tr>
                                                <td>@orderDetail.LicenseCode</td>
                                                <td>@orderDetail.LicenseId</td>
                                                <td>@orderDetail.Qty</td>
                                                <td>@orderDetail.SubTotal</td>
                                                <td>@orderDetail.DeviceId</td>
                                                <td>@orderDetail.DeviceAltId</td>
                                                <td>@Html.DisplayFor(p => p.IsActive)</td>
                                            </tr>
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white"><a href="@Url.Action("Index")">Cancel</a></button>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
}

@section Scripts {
    <environment names="Development,Staging,Productio">
        <script src="~/lib/iCheck/icheck.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
}


