﻿@model IncityApp.Models.MemberLoginModel
@{
    ViewData["Title"] = "InCity Licensing | Login";
}

<div class="page-body middle-box text-center loginscreen member animated fadeInDown">
    <div>
        <div>
            <img src="~/images/Logo.png" />
        </div>

        <h2 class="font-bold">InCity Licensing</h2>
        <h2 class="font-bold">Member Login</h2>

        <div style="margin: 30px 0;"></div>

        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm("Login", "Member", FormMethod.Post, new { @class = "m-t" }))
                {
                    @Html.AntiForgeryToken()

                    @if (ViewBag.Message != "")
                    {
                        <div class="view-error">@Html.Raw(ViewBag.Message)</div>
                    }

                    @if (ViewBag.ErrMsg != "")
                    {
                        <div class="view-error">@Html.Raw(ViewBag.ErrMsg)</div>
                    }

                    @Html.ValidationSummary()

                    @Html.HiddenFor(p => p.ReturnUrl)
                    <div class="form-group">
                        @Html.TextBoxFor(p => p.Email, new { @class = "text-box single-line", @placeholder = "Email Address" })
                        <div class="view-error">@Html.ValidationMessageFor(p => p.Email)</div>
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(p => p.Password, new { @class = "text-box single-line", @placeholder = "Password" })
                        <div class="view-error">@Html.ValidationMessageFor(p => p.Password)</div>
                    </div>

                    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                }
            </div>
        </div>

        <div style="margin: 30px 0;"></div>

        <div class="form-group">
            <a href="@Url.Action("Forget","Member")" class="register-link">Forget password</a>
        </div>

        <div class="form-group">
            <a href="@Url.Action("Register","Member", new { returnUrl = Model.ReturnUrl })" class="register-link">Not a member yet? Regsiter now!</a>
        </div>

        <div style="margin: 50px 0;"></div>

        <p class="m-t"> <small>Advance InCity Sdn Bhd &copy; 2018</small> </p>
    </div>
</div>
