﻿@model IncityApp.Models.Member
@{
    ViewData["Title"] = "InCity Licensing | Register";
}

<div class="page-body middle-box text-center loginscreen member animated fadeInDown">
    <div>
        <div>
            <img src="~/images/Logo.png" />
        </div>

        <h2 class="font-bold">InCity Licensing</h2>
        <h2 class="font-bold">Member Register</h2>

        <div style="margin: 30px 0;"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <a href="@Url.Action("Login","Member")" class="register-link">Already a member? Back to login.</a>
                </div>

                @using (Html.BeginForm("Register", "Member", FormMethod.Post, new { @class = "m-t" }))
                {
                    @Html.AntiForgeryToken()

                    @if (ViewBag.ErrMsg != "")
                    {
                        <div class="view-error">@Html.Raw(ViewBag.ErrMsg)</div>
                    }

                    @Html.HiddenFor(p => p.Id)
                    @Html.HiddenFor(p => p.IsActive)
                    @Html.HiddenFor(p => p.IsDeleted)
                    @Html.HiddenFor(p => p.CreateBy)
                    @Html.HiddenFor(p => p.CreateDate)
                    @Html.HiddenFor(p => p.LastUpdate)
                    @Html.HiddenFor(p => p.LastUser)
                    @Html.HiddenFor(p => p.Remark)
                    @Html.HiddenFor(p => p.ReturnUrl)

                    <div class="form-group">
                        @Html.TextBoxFor(p => p.Email, new { @class = "text-box single-line", @placeholder = "Email Address" })
                        <div class="view-error">@Html.ValidationMessageFor(p => p.Email)</div>
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(p => p.Password, new { @class = "text-box single-line", @placeholder = "Password" })
                        <div class="view-error">@Html.ValidationMessageFor(p => p.Password)</div>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(p => p.Name, new { @class = "text-box single-line", @placeholder = "Full Name" })
                        <div class="view-error">@Html.ValidationMessageFor(p => p.Name)</div>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(p => p.PhoneNo, new { @class = "text-box single-line", @placeholder = "Phone Number" })
                        <div class="view-error">@Html.ValidationMessageFor(p => p.PhoneNo)</div>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(p => p.CompanyName, new { @class = "text-box single-line", @placeholder = "Company Name" })
                        <div class="view-error">@Html.ValidationMessageFor(p => p.CompanyName)</div>
                    </div>

                    <button type="submit" class="btn btn-primary block full-width m-b">Register</button>
                }
            </div>
        </div>

        <div style="margin: 50px 0;"></div>

        <p class="m-t"> <small>Advance InCity Sdn Bhd &copy; 2018</small> </p>
    </div>
</div>
