﻿@model Cart
@{
    ViewData["Title"] = "InCity Licensing | Cart";
    Layout = "_LayoutMember";
}

<section>
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Cart</h1>
            </div>
        </div>
        @if (Model.cartItems.Count() > 0)
        {
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>License</th>
                            <th>Qty</th>
                            <th>Price (RM)</th>
                            <th>Subtotal (RM)</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (CartItem item in Model.cartItems)
                        {
                            <tr>
                                @Html.HiddenFor(p => item.license.Id)
                                <td style="width: 50%;">@item.license.LicenseCategory.Name &nbsp;@item.license.Name</td>
                                <td style="width: 10%;">@Html.TextBoxFor(p => item.qty, new { @Type = "number", @Class = "text-box single-line cart-qty", @Min = "1" })</td>
                                <td style="width: 15%;">@item.license.Price</td>
                                <td style="width: 15%;">@item.subtotal</td>
                                <td style="width: 10%;"><a class="cart-remove-link" href="@Url.Action("Remove", "Cart", new { id = item.license.Id })">Remove</a></td>
                            </tr>
                        }
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="3" style="font-weight: bold; text-align: right; padding-top: 20px;">GrandTotal (RM)</td>
                            <td style="font-weight: bold; padding-top: 20px">@Model.grandTotal</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-xs-12" style="margin-top: 50px; text-align:center;">
                <a class="btn btn-primary btn-xs btn-cancel" style="margin-right: 30px;" href="@Url.Action("Index", "Home")">Get More</a>
                <a class="btn btn-primary btn-xs" href="@Url.Action("Index", "Checkout")">Checkout</a>
            </div>
        </div>
        }
        else
        {
        <div class="row">
            <div class="col-xs-12" style="text-align:center;">
                <p>Your cart is empty.</p>
                <a class="btn btn-primary btn-xs" href="@Url.Action("Index", "Home")">View Our Packages</a>
            </div>
        </div>
        }
    </div>
</section>

@section scripts { 
    <script>
        $(".cart-qty").change(function(){
            var url = "@Url.Action("UpdateCart", "Cart")";
            var id = $(this).parents("tr").find("#item_license_Id").val();
            var qty = $(this).val();

            $.ajax({
                url: url,
                method: 'POST',
                data: { id: id, qty: qty },
                success: function () {
                    window.location.reload();
                }
            });
        })
    </script>
}