﻿@model IncityApp.Models.LicenseCategory

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard", "Dashboard")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "LicenseCategory")">License Category</a>
            </li>
            <li class="active">
                <strong>Edit License Category</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            @if (ViewBag.ErrMsg != "")
            {
                <div class="view-success">@Html.Raw(ViewBag.SucMsg)</div>
            }

            <div class="view-error">@Html.ValidationSummary()</div>

            @if (ViewBag.ErrMsg != "")
            {
                <div class="view-error">@Html.Raw(ViewBag.ErrMsg)</div>
            }

            <div class="ibox float-e-margins">
                @*<div class="ibox-title">
                <h5>Basic</h5>
            </div>*@
                <div class="ibox-content">
                    @using (Html.BeginForm("Edit", "LicenseCategory", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(p => p.Id)
                        @Html.HiddenFor(p => p.IsDeleted)
                        @Html.HiddenFor(p => p.CreateBy)
                        @Html.HiddenFor(p => p.CreateDate)
                        @Html.HiddenFor(p => p.Remark)
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.Name)</label>

                            <div class="col-sm-8">
                                @Html.TextBoxFor(p => p.Name, new { @Class = "form-control" })
                                <div class="checkbox"><label>@Html.EditorFor(p => p.IsActive) @Html.DisplayNameFor(p => p.IsActive)</label></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.Description)</label>
                            <div class="col-sm-8">@Html.TextAreaFor(p => p.Description, new { @Class = "form-control" })</div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white"><a href="@Url.Action("Index")">Cancel</a></button>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
}

@section Scripts {
    <environment names="Development,Staging,Productio">
        <script src="~/lib/iCheck/icheck.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
}


