﻿@model IncityApp.Models.LicenseCategory

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard", "Index")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "LicenseCategory")">License Category</a>
            </li>
            <li class="active">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 right">
        <button type="button" class="btn btn-w-m btn-primary"><a href="@Url.Action("Create", "LicenseCategory")">Create New</a></button>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            @if (ViewBag.SucMsg != "")
            {
                <div class="view-success">@Html.Raw(ViewBag.SucMsg)</div>
            }

            @if (ViewBag.ErrMsg != "")
            {
                <div class="view-error">@Html.Raw(ViewBag.ErrMsg)</div>
            }

            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(p => p.Name)</th>
                                <th>@Html.DisplayNameFor(p => p.IsActive)</th>
                                <th>@Html.DisplayNameFor(p => p.LastUpdate)</th> @* Edit the "order" option in datatable script below to make sure it is order by last update by default. *@ 
                                <th>@Html.DisplayNameFor(p => p.LastUser)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (LicenseCategory licenseCategory in (List<LicenseCategory>)ViewBag.LicenseCategoryList)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(p => licenseCategory.Name)</td>
                                    <td>@Html.DisplayFor(p => licenseCategory.IsActive)</td>
                                    <td>@Html.DisplayFor(p => licenseCategory.LastUpdate)</td>
                                    <td>@Html.DisplayFor(p => licenseCategory.LastUser)</td>
                                    @if (ViewBag.IsTrash != "1")
                                    {
                                        <td><a href="@Url.Action("Edit", new { id = licenseCategory.Id })">Edit</a> | <a href="@Url.Action("Delete", new { id = licenseCategory.Id })">Delete</a></td>
                                    }
                                    else
                                    {
                                        <td><a href="@Url.Action("Restore", new { id = licenseCategory.Id })">Restore</a> | <a href="@Url.Action("Delete", new { id = licenseCategory.Id, trash = "1" })">Delete</a></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                    @if (ViewBag.IsTrash != "1")
                    {
                        <a class="trash-link" href="@Url.Action("Index", new { trash = "1" })">Trash List (@ViewBag.TrashCount)</a>
                    }
                    else
                    {
                        <a class="trash-link back" href="@Url.Action("Index")">Back To List</a>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                columnDefs: [{ "type": "date", "targets": 2 }],
                order: [[2, "desc"]],
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel' },
                    { extend: 'pdf' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });


        });

      
    </script>
}