﻿@model IncityApp.Models.LicenseCategory

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard", "Dashboard")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "LicenseCategory")">License Category</a>
            </li>
            <li class="active">
                <strong>Restore License Category</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            @if (ViewBag.ErrMsg != "")
            {
                <div class="view-success">@Html.Raw(ViewBag.SucMsg)</div>
            }

            <div class="view-error">@Html.ValidationSummary()</div>

            @if (ViewBag.ErrMsg != "")
            {
                <div class="view-error">@Html.Raw(ViewBag.ErrMsg)</div>
            }

            <div class="ibox float-e-margins">
                @*<div class="ibox-title">
                <h5>Basic</h5>
            </div>*@
                <div class="ibox-content">
                    @using (Html.BeginForm("Restore", "LicenseCategory", FormMethod.Post, new { @class = "form-horizontal", @style = "padding-left: 20px;" }))
                    {
                        @Html.Hidden("id", Model.Id)
                        @Html.Hidden("trash", "1")
                        <div class="form-group">
                            <h1>Restore @Model.Name</h1>

                            <label>Confirm restore this? It will be move to the active list.</label>
                        </div>
                        <br />
                        <div class="form-group">
                            <div>
                                <button class="btn btn-white"><a href="@Url.Action("Index")">Cancel</a></button>
                                <button class="btn btn-primary" type="submit">Confirm</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
}

@section Scripts {
    <environment names="Development,Staging,Productio">
        <script src="~/lib/iCheck/icheck.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
}


