/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

/* General */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
/* End General */

/* QR Code */
#qrCode {
    margin: 15px;
}
/* End QR Code */


@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}
