﻿@model IncityApp.Models.AdminLoginModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InCity Licensing Admin | @ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib_bower/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib_bower/metisMenu/dist/metisMenu.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib_bower/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib_bower/metisMenu/dist/metisMenu.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>



</head>
<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <img src="~/images/Logo.png" />
            </div>

            <h2 class="font-bold">InCity Licensing</h2>
            <h2 class="font-bold">Admin Login</h2>

            <div style="margin: 30px 0;"></div>

            @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @class = "m-t" }))
            {
                //<form method="post" action="@Url.Action("Login", "Admin")" class="m-t">
                @Html.AntiForgeryToken()

                @if (ViewBag.ErrMsg != "")
                {
                    <div class="view-error">@Html.Raw(ViewBag.ErrMsg)</div>
                }

                @*@Html.ValidationSummary()*@

                <div class="form-group">
                    @Html.TextBoxFor(p => p.Username, new { @class = "text-box single-line", @placeholder = "Username" })
                    <div class="view-error">@Html.ValidationMessageFor(p => p.Username)</div>
                </div>

                <div class="form-group">
                    @Html.PasswordFor(p => p.Password, new { @class = "text-box single-line", @placeholder = "Password" })
                    <div class="view-error">@Html.ValidationMessageFor(p => p.Password)</div>
                </div>

                <div style="margin: 50px 0;"></div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            //</form>
            }

            <div style="margin: 50px 0;"></div>

            <p class="m-t"> <small>Advance InCity Sdn Bhd &copy; 2018</small> </p>
        </div>
    </div>

</body>
</html>
