﻿

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>Kindly reach us via the following options !</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-9 col-lg-offset-3">
                <strong><span class="navy">Advance InCity Sdn Bhd</span></strong>
            </div>
            <div class="col-lg-3 col-lg-offset-3">
                    Block A, Akademik Suite,<br />
                    Jalan Austin Utama,<br />
                    81100, Johor Bahru.
            </div>
            <div class="col-lg-4">
                <p class="text-color footer-contact">
                    <i class="fa fa-phone"></i> 07-3642765<br />
                    <i class="fa fa-envelope"></i> contact@incity.my
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2018 Advance InCity Sdn Bhd. All rights reserved.</strong> </p>
            </div>
        </div>
    </div>
</section>