﻿@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" href="@Url.Action("Index", "Home")"><img src="~/images/Logo.png" class="brand-logo" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="#page-top">Home</a></li>
                    <li><a class="page-scroll" href="#pricing">Pricing</a></li>
                    <li><a class="page-scroll" href="#contact">Contact</a></li>
                    <li>
                        <a class="page-scroll" href="@Url.Action("Index", "Cart")">
                            Cart
                            @{ 
                                Cart cart = HttpContextAccessor.HttpContext.Session.GetObject<Cart>("Cart");
                                if (cart != null)
                                {
                                    @:(@cart.cartItems.Count())
                                }
                            }
                        </a>
                    </li>
                    @if (!User.HasClaim(p => p.Type == "MemberId"))
                    {
                        <li><a class="page-scroll" href="@Url.Action("Login", "Member")">Login / Register</a></li>
                    }
                    else
                    {
                        @*<li><a class="page-scroll" href="@Url.Action("Index", "Member")">My Profile</a></li>*@
                        <li><a class="page-scroll" href="@Url.Action("Logout", "Member")">Logout</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</div>