﻿@model CheckoutModel
@{
    ViewData["Title"] = "InCity Licensing | Checkout";
    Layout = "_LayoutMember";
}

<section>
    <div class="container checkout">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Checkout</h1>
            </div>
        </div>
        @using (Html.BeginForm("Index", "Checkout", FormMethod.Post, new { @class = "" }))
        {
            @Html.AntiForgeryToken()

            @if (ViewBag.ErrMsg != "")
            {
                <div class="view-error">@Html.Raw(ViewBag.ErrMsg)</div>
            }

                <div class="view-error">@Html.ValidationSummary()</div>

            @if (Model.cart.cartItems.Count() > 0)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="checkout-title">Your Item(s)</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>License</th>
                                    <th>Qty</th>
                                    <th>Price (RM)</th>
                                    <th>Subtotal (RM)</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (CartItem item in Model.cart.cartItems)
                                {
                                    <tr>
                                        <td style="width: 50%;">@item.license.LicenseCategory.Name &nbsp;@item.license.Name</td>
                                        <td style="width: 10%;">@item.qty</td>
                                        <td style="width: 15%;">@item.license.Price</td>
                                        <td style="width: 15%;">@item.subtotal</td>
                                    </tr>
                                }
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="3" style="font-weight: bold; text-align: right; padding-top: 20px;">GrandTotal (RM)</td>
                                    <td style="padding-top: 20px">@Model.cart.grandTotal</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="checkout-title">Your Info</h1>
                        <table class="checkout-member-info">
                            <tr>
                                <td>Name</td>
                                <td>:</td>
                                <td>@Model.member.Name</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>@Model.member.Email</td>
                            </tr>
                            <tr>
                                <td>Phone No</td>
                                <td>:</td>
                                <td>@Model.member.PhoneNo</td>
                            </tr>
                            <tr>
                                <td>Company Name</td>
                                <td>:</td>
                                <td>@Model.member.CompanyName</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="checkout-title">Payment Method</h1>

                        <div class="form-group">
                            <label><input type="radio" name="PaymentMethod" value="Bank Transfer" required /> Bank Transfer</label>
                            <br />
                            <label><input type="radio" name="PaymentMethod" value="Paypal" required /> Paypal</label>
                        </div>

                        <div style="margin-top: 50px;"></div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary block m-b">Checkout</button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-xs-12" style="text-align:center;">
                        <p>Your cart is empty.</p>
                        <a class="btn btn-primary btn-xs" href="@Url.Action("Index", "Home")">View Our Packages</a>
                    </div>
                </div>
            }
        }
    </div>
</section>