﻿@{
    ViewData["Title"] = "InCity Licensing | Checkout Success";
    Layout = "_LayoutMember";
}

<section>
    <div class="container checkout">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Checkout Success</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1 class="checkout-title">You have successfully subscribe to our service!</h1>
                <p>You may go to your profile to view your licenses. Every license has a license code which is required to activate our FNB apps in your mobile device.</p>
            </div>
        </div>
    </div>
</section>